<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  </head>
  <body>
      
      <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li><a href="/">Index</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/random">Random</a></li>
            <li><a href="/articles">Articles</a></li>
          </ul>
      </nav>