<%- include partials/header.ejs %>

    <h1><%= title %></h1>
    <p class="jumbotron"><%= message %></p>

    <a href="/auth/login" title="Login">Login</a> or <a href="/auth/register" title="Register">Register</a>
  </body>
</html>
