<%- include ../partials/header.ejs %>

<main class="container">
    <h1>Business Directories</h1>
    <form method="post" action="add">
        <fieldset class="form-group">
            <label for="busName" class="col-sm-2">Business Name: *</label>
            <input name="busName" id="busName" required />
        </fieldset>
        <fieldset class="form-group">
            <label for="contact" class="col-sm-2">Contact Name: *</label>
            <input name="contact" id="contact" required />
        </fieldset>
        <fieldset class="form-group">
            <label for="phone" class="col-sm-2">Phone Number: *</label>
            <input name="phone" id="phone" required />
        </fieldset>
        <fieldset class="form-group">
            <label for="address" class="col-sm-2">Address: *</label>
            <input name="address" id="address" required />
        </fieldset>
        <fieldset class="form-group">
            <label for="website" class="col-sm-2">Website: *</label>
            <input name="website" id="website" required />
        </fieldset>
        <button class="btn btn-primary col-sm-offset-2">Save</button>
    </form>
</main>

</body>
</html>